.projects-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-tile {
    width: 50%;
    align-items: center;
}

.project-tile-image {
    width: 20em;
}

.profile-image {
    width: 10%;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: red;
    justify-content: center;
    align-items: center; 
}

@media (max-width: 500px) {
#welcome-section {
    background: yellowgreen;
}
    
}