body {
    margin: auto;
}

header {
    background: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 3em;
}

.nav-container {
   /*background: red;*/
    display: flex;
    margin: auto;
    flex-direction: row;
    float: right;
    width: 35%;
    min-height: 3em;
}
.nav-container > div {
    /*background: black;*/
    margin: auto;
    text-align: center;
}
.nav-list {
    text-decoration-line: none;
    color: white;
    font-size: 1.3em;
}
.nav-list:hover {
    color: gray;
}

#projects {
    padding-top: 3em;
    margin-top: -3em;
}
.projects-box {
    margin: auto;
    padding: auto;
    background: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-tile {
    margin: auto;
    padding: auto;
    width: 40%;
}

.project-tile-image {
    width: 20em;
}

.profile-image {
    width: 10%;
}

#contact {
    padding-top: 3em;
    margin-top:-3em;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    height: 100vh;
    background: rgb(0, 119, 255);
    justify-content: center;
    align-items: center; 
    text-align: center;
}

@media (max-width: 500px) {
.nav-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav-container > div {
    width: 100%;
    padding: 0.5em;
    border-bottom-style: solid;
    border-bottom-color: slategray;
    border-bottom-width: 1px;
}
/*
#welcome-section {
    background: yellowgreen;
}*/
    
}